@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');


h1{
    font-family: 'Ubuntu', sans-serif;
    margin-top: 65px;
    text-align: center;
}

p{    
font-family: 'Ubuntu', sans-serif;
text-align: center;

}

#message1{
    margin-top: 65px;
}
