@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');


h1{
    font-family: 'Ubuntu', sans-serif;
    margin-top: 65px;
    text-align: center;
}
h2{
    font-family: 'Ubuntu', sans-serif;   
    margin-top: 75px;
    padding-left: 35px;
}

.top{
    background-color: #298cdd;
    height: 70px;
    width: 90%;
    margin-left: 5%;
    border-radius: 35px;
    
    margin-top: 20px;
}

.text-method{
    margin-top: 50px;
    padding-left: 35px;
    font-family: 'Ubuntu', sans-serif;   


}



.boutton{
     display: flex;
  justify-content: center;
  align-items: center;
}

#button{
    align-items: center;
    background-color: rgb(0, 56, 138);
    height: 90px;
    width: 200px;
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
   
    
}

#button:hover{
    box-shadow: 0px 15px 20px rgba(84, 174, 248, 0.588);
    transform: translateY(-7px);
    
    background-color: rgb(3, 81, 197);
}

#tabs{
    margin-left: 50px;
    font-family: 'Ubuntu', sans-serif;  
    font-size: 25px;
    height: 70px;
    width: 100px;
    background-color: #298cdd;
    border: #298cdd00;
}

#tabs:hover{
    background-color: rgb(3, 81, 197);
    cursor: pointer;
}

